@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  @apply mx-auto px-4;
}

.name {
  @apply text-5xl font-bold;
  background: -webkit-linear-gradient(60deg, #3626a7, #db2b39);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Regular.ttf");
}
